<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ProtoType</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <nav>
            <div class="navinner">
                <img src="/public/assets/logo.jpg" alt="logo">
                <ul>
                    <li><a href="#">Habitats</a></li>
                    <li><a href="#">Experiences</a></li>
                    <li><a href="#">Deals</a></li>
                    <li>
                        <a href="#" id="call_icon">
                            <i class="fa fa-solid fa-phone"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#"id="cart_icon">
                            <i class="fa fa-shopping-cart"></i>
                        </a>.
                    </li>
                </ul>
            </div>
        </nav>

        <div class="top">
            <img src="/public/assets/yaaman-dolphincove-banner.jpg" alt="Hero banner">
        </div>
        <center>
            <!-- <div class="slider">
                <div class="slides">
                    <img src="/public/slider/dolphin.jpg" alt="dolphin">
                    <img src="/public/slider/reef.jpg" alt="reef">
                    <img src="/public/slider/park.jpg" alt="park">
                    <img src="/public/slider/sharks.jpg" alt="sharks">
                </div>
            </div> -->
        </center>

        <div class="middle">
            <div class="left_side">

                <div class="slider_preview">
                    <img src="/public/slider/dolphin.jpg" alt="dolphin">
                    <img src="/public/slider/reef.jpg" alt="reef">
                    <img src="/public/slider/park.jpg" alt="park">
                    <img src="/public/slider/sharks.jpg" alt="sharks">
                </div>

                
                
                <a id="ocho_rios">
                    <h2>Dolphin Cove Ocho Rios Jamaica</h2>
                    Ocho Ríos is a quintessential city that welcomes <b>cruise travelers</b> with white sandy beaches and swaying palm trees, 
                    where <b>Dolphin Cove Ocho Ríos</b>, a fantastic Dolphin Habitat and natural park framed by majestic lush tropical nature, is located.
                    <br>
                    Perfectly appointed in the northeast area of Jamaica and only 4 km from the <b>Cruise Port</b> at Turtle Beach Road, 
                    <b>Dolphin Cove Ocho Ríos</b> is a superb option to start your vacation in Jamaica.
                    <br>
                    <br>                
                    When you step into <b>Dolphin Cove Ocho Ríos</b>, you will feel the Jamaican vibe with a sumptuous natural backdrop to kick back in 
                    the pool or delight with traditional and freshly brewed Jamaican coffee.
                    <br>
                    <br>
                    Unleash your adventurous spirit and get ready to enjoy one of the most fantastic experiences, like a swim with Dolphins 
                    in Ocho Rios and exploring this extraordinary natural park in Jamaica. It is a 
                    <a href="" style="font-size: 12px;">destination for Caribbean Cruises</a> 
                    <a id="ocho_rios"> and has incredible activities.
                    <br>
                    <h3>All Our Interactive Experiences include:</h3>
                    <ul>
                        <!-- <span class="checkmark">
                            <div class="checkmark_stem"></div>
                            <div class="checkmark_kick"></div>
                        </span> -->                    
                        <li>
                            <i class="fa fa-check"></i>
                            Kayaks
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Jungle trail
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Cawabunga water slide
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Stingrays interactive program
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Dunn's River Falls Experience 
                            (swimming at the river falls and cultural activities)
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Activities with marine species in their natural environment. 
                            You choose it!
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Lunch
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            A Beach Club
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Lifejackets
                        </li>
                        <br>
                        <li>
                            <i class="fa fa-check"></i> 
                            Use of facilities and showers
                        </li>
                    </ul>

                    <h3>Buy your Interactive Experience at Dolphin Cove Ocho Ríos!</h3>
                    During your visit to Dolphin Cove Ocho Ríos, before or after your interactive program with Dolphins or sharks, 
                    you will enjoy the natural paths across the park where nature meets the sun and fun moments.
                    <br>
                    <br>
                    Prepare to indulge your senses in a tropical scene and have an unforgettable time with your loved ones in an idyllic place like <b>Dolphin Cove Ocho Ríos</b> in Jamaica!
                </a>

                <h3>Select your Experience</h3>

                <a id="ocho_rios">
                    <a id="ocho_rios" href="#" style="color: black;" onMouseOver="this.style.color='#00f'" onMouseOut="this.style.color='#000'">
                        Choose the experience you like most
                    </a>

                    <a id="ocho_rios">
                        to discover the Dolphin's world and incredible tropical species, 
                        including iguanas, birds, and a great diversity of flowers and colorful trees.
                    </a>
                </a>
            </a>
        </div>

        <div style="height: 100%; width: 15%;">   </div>

        <div class="right_side">
            <div>
                <h3>MAKE YOUR RESERVATION</h3>
            </div>
            <br>
            <form id="reservation" action="post">
                <label for="Activiy" style="float: left; margin-left: 30px;">Choose the activity</label>
                <br>
                <select name="activities" id="" style="width: 90%;">
                    <% for(let i = 0; i < activity.length; i++){ %>
                        <option value="<% activity[i].id %>">
                            <% activity[i].name %>
                        </option>
                    <% } %>
                </select>
                <br>

                <label for="date">Date</label>
                <input type="date" name="date" id="date"></input>

                <label for="schedule">Schedule</label>
                <select name="schedule" id="schedule">
                    <% for(let i = 0; i < schedule.length; i++){ %>
                        <option value="<% schedule[i].id %>">
                            <% schedule[i].name %>
                        </option>
                    <% } %>
                </select>
                <label for="participants" style="width: 100%;">Participants</label>
                <div class="box">
                    <!-- create a display hidden menue that populates the value of the display here -->
                    2 participants
                </div>

            </form>
        </div>
        </div>
        <div class="experience">
            <div class="frame">
                <a href="#" style="text-align: right;">
                    <img src="/public/assets/6pix/145.jpg" alt="">
                </a>
                <br>
                Shark encounte 
                <a href="#" style="text-decoration: none; float: right;">$111.50 USD</a>
            </div>
            <div class="frame">
                <a href="#">
                    <img src="/public/assets/6pix/97.jpg" alt="">
                </a>
                Chucka Ride
                <a href="#" style="text-decoration: none; float: right;">$111.50 USD</a>
            </div>
            <div class="frame">
                <a href="#">
                    <img src="/public/assets/6pix/afar.brightspotcdn.jpg" alt="">
                </a>
                Encounter
                <a href="#" style="text-decoration: none; float: right;">$111.50 USD</a>
            </div>
            <div class="frame">
                <a href="">
                    <img src="/public/assets/6pix/medium.jpg" alt="">
                </a>
                Dolphin Nursery
                <a href="#" style="text-decoration: none; float: right;">$111.50 USD</a>
            </div>
            <div class="frame">
                <a href="">
                    <img src="/public/assets/6pix/Stingray-Jamaica-Dolphin-Cove.jpg" alt="">
                </a>
                Petting Zoo
                <a href="#" style="text-decoration: none; float: right;">$111.50 USD</a>
            </div>
            <div class="frame">
                <a href="">
                    <img src="/public/assets/6pix/y16-dolphin-swim-and-doctors-cave-beach-in-montego-bay-montego-bay-jamaica-16.jpg" alt="">
                </a>
                Just Relax
                <a href="#" style="text-decoration: none; float: right;">$111.50 USD</a>
            </div>
        </div>
        
        <center>
            <dvi class="faq">
                    <h4>Frequently Asked Questions About Dolphin Cove</h4>
            </dvi>
            <div class="questions">
                <button onclick="<% openDiv() %>" id="q1">How to Get to the Dolphin Cove Habitats in Jamaica?</button>
                <br>
                <button onclick="<% openDiv() %>" id="q1">Can I record videos and take photographs?</button>
                <br>
                <button onclick="<% openDiv() %>" id="q1">Is it safe to purchase online?</button>
                <br>
                <button onclick="<% openDiv() %>" id="q1">I'm traveling on a cruise; which Dolphin Habitat is better for me?</button>
                <br>
                <button onclick="<% openDiv() %>" id="q1">What are the policies for minors?</button>
            </div>
            <div class="location">
                <div class="location_text">
                    <p>
                        <b>How to Get to Dolphin Cove Ocho Rios?</b>
                        <br><br>
                        Visiting <b>Dolphin Cove Ocho Rios</b> is very easy. However, it would be best if you considered important factors such as distance and traffic.
                        <br><br>
                        <b>Dolphin Cove Ocho Rios</b> is 4 km (2.5 mi) from the 
                        <b>Cruise Port</b> 
                        at Turtle Beach Road. If you are visiting Ocho Rios as a cruise traveler or staying at a lodge or resort in the northeast area, take a taxi or hop on a "route taxi" and prepare for your adventure.
                        <br><br>
                        If you are staying in the Montego Bay area, we recommend you visit the 
                        <a href="#" style="color: black;" onMouseOver="this.style.color='#00f'" onMouseOut="this.style.color='#000'">
                            Dolphin Cove Montego Bay Dolphin Habitat
                        </a>
                        , as Ocho Rios is 97 km (60 mi) away.
                    </p>
                </div>
                <br><br>
                <div style="width: 100px;"></div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30283.69834243083!2d-77.16837108135223!3d18.417307693327167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edafef4311d7cbd%3A0xe2b6af11a807fbc0!2sDolphin%20Cove%20Ocho%20Rios!5e0!3m2!1sen!2sjm!4v1708010177711!5m2!1sen!2sjm" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <br><br><br>
            <hr style="margin-left: 10%; margin-right: 10%;">
            <div class="icons">
                <h3>Follow Us:</h3>
                <a href="#">
                    <img src="/public/assets/icons/facebook_icono.svg" alt="">
                </a>
                <a href="#">
                    <img src="/public/assets/icons/instagram_icono.svg" alt="">
                </a>
                <a href="#">
                    <img src="/public/assets/icons/twitter_icono.svg" alt="">
                </a>
                <a href="#">
                    <img src="/public/assets/icons/tiktok_icono.svg" alt="">
                </a>
                <a href="#">
                    <img src="/public/assets/icons/tripadvisor_icono.svg" alt="">
                </a>
            </div>
            <div class="lower">
                <div class="footer_link">
                    <b>Dolphin Cove</b>
                    <a href="#" id="lowerlink">Habitats</a>
                    <a href="#" id="lowerlink">Experiences</a>
                    <a href="#" id="lowerlink">Deals</a>
                    <a href="#" id="lowerlink">Investor Relations</a>
                </div>
                <br>
                <div class="footer_link">
                    <b>Trust us</b>
                    <a href="#" id="lowerlink">Contact Us</a>
                    <a href="#" id="lowerlink">Privacy Policy</a>
                    <a href="#" id="lowerlink">Social Media Policy</a>
                    <a href="#" id="lowerlink">Site policies</a>
                    <a href="#" id="lowerlink">Faq's</a>
                    <a href="#" id="lowerlink">Blog</a>
                </div>
                <br>
                <div class="footer_link">
                    <b>Information</b>
                    <a href="#" id="lowerlink">News</a>
                    <a href="#" id="lowerlink">About Us</a>
                </div>
                <br>
                <div class="footer_link">
                    <b>Sister Brands</b>
                    <a href="#" id="lowerlink">Dolphin Discovery</a>
                    <a href="#" id="lowerlink">Yaaman</a>
                    <a href="#" id="lowerlink">Garrafon</a>
                    <a href="#" id="lowerlink">Aquaventuras</a>
                    <a href="#" id="lowerlink">Ocean Adventures</a>
                </div>
            </div>
            <br><br>
            <hr style="margin-left: 10%; margin-right: 10%;">  
            <br>      
            <p style="font-size: 10px;">Proudly partly of</p>
            <br>
            <img src="/public/assets/icons/TDC_logo.svg" alt="">
        </center>
        <div class="message_links">
            <i id="link" class="fa fa-comments" style="font-size: 22px; padding: 0px 0px 0px 10px; display: grid; "></i>
            <a id="innerlink" href="#">
                <i class="fa fa-whatsapp"; style="font-size: 44px; color: #40D366; display: none;"></i>
            </a>
            
            <a id="innerlink" href="#">
                <img src="/public/assets/icons/fb-messenger-logo.png" alt="" style="width:44px; display: none;">
            </a>
        </div>\
        
    </body>
</html>